<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="main.css" rel="stylesheet">
</head>

<body class="grey-bg">
    <%- include('nav.ejs') %>
        <%= JSON.stringify(resultPUT) %>
            <div class="detail-bg">
                <h4>
                    <%= resultPUT.title %>
                </h4>
                <p>
                    <%= resultPUT.content %>
                </p>
            </div>
</body>

</html>